<div class="sidebar">
    <div class="inner">
        <div class="logo">
            <img src="/assets/imgs/logo.png" alt="logo" width="50" height="50">
        </div>

        <div class="menu">
            <ul>
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa-solid fa-bars-progress"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa-regular fa-user"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa-regular fa-snowflake"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="chats" routerLinkActive="active">
                        <i class="fa-regular fa-comments"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa-regular fa-paper-plane"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa-solid fa-chart-gantt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="setting">
        <button type="button">
            <i class="fa-regular fa-circle-question"></i>
        </button>
        <button type="button">
            <i class="fa-solid fa-bars-progress"></i>
        </button>
    </div>
</div>